:root {
    /*Colors*/
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --gray: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);    
}

.attribution { 
    text-align: center; 
    display: grid;
    gap: .25rem;
    margin-block-start: auto;
    margin-block-end: 1.5rem;
}

.attribution p {
    font-size: .7813rem;
}

.attribution a { 
    color: var(--green-500) 
}

body {
    background-color: var(--cream);
    display: grid;
    justify-content: center;
    min-height: 98vh;

}

img {
    width: 100%;
    margin: 0;
    display: block;
}

h1 {
    font-family: fraunces;
    line-height: 100%;
    margin: 0;
    font-size: 2rem;
    color: var(--black);
}

article {
    background-color: var(--white);
    padding: 1.875rem 2rem 2rem 2rem;
    display: grid;
    gap: clamp(1.5rem, 6.4vw, 1.875rem);
}

.head {
    display: grid;
    gap: 1.25rem;
}

.headparent {
    display: grid;
    gap: clamp(1.25rem, 5.33vw, 1.5rem);
}

main {
    display: grid;
    gap: 0;
    width: clamp(21.875rem, 93.33vw, 37.5rem);
    border-radius: .75rem;
    overflow: hidden;
    margin-block-start: clamp(2.5rem, 10.67vw, 5rem);
    margin-block-end: clamp(3rem, 12.8vw, 7rem);
    
}

.caption {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.315rem;
    font-size: .75rem;
    color: var(--gray);
}

p {
    font-family: montserrat;
    line-height: 160%;
    margin: 0;
    font-size: .875rem;
    color: var(--gray);
}

.price {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.price :last-child {
    text-decoration: line-through;
}

button {
    all: unset;
}

.btn {
    background-color: var(--green-500);
    display: flex;
    justify-content: center;
    padding-block: 1.0625rem;
    color: var(--white);
    font-family: montserrat;
    font-size: .875rem;
    gap: .75rem;
    border-radius: .5rem;
    font-weight: 500;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--green-700);
}

.svg-icon {
    width: .875rem;
    height: .9375rem
}

.sameash1 {
    font-family: fraunces;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    color: var(--green-500)
}

@media (min-width: 48rem) {
    main {
        display: flex;
        width: 37.5rem;
        margin-block-end: 10rem;
        margin-block-start: 11rem;
    }

    img {
        width: 18.75rem;
        height: 100%;
        display: block;
    }

    .svg-icon {
        width: .875rem;
    }

    article {
        padding: 2rem;
    }

    .price {
        gap: 1.125rem;
    }

    .btn {
        padding-block: 1rem;
    }

    .attribution {
        display: flex;
        justify-content: center;
        gap: 1.4rem;
        margin-block-end: 0.75rem;
    }
}
